body{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

nav{
    position: fixed;
    top:0;
    width:100%;
    
}

nav div{
    background-color: blueviolet;
    height:50px;
}

nav h1{
    
    color:black;
    font-weight: bold;
    font-size: x-large;
    margin:10px 0 0 40px;
    float:left;
}

nav ul{
    margin:auto auto auto auto;
    width:max-content;
    padding:15px 0 0 0;

}
nav li{
    display:inline-block;
    margin:0 20px;
}

body section{
    margin:auto;
}



.article-images{
    display:grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap:10px;
    justify-items: center;
    width:75%;
    color:white;
    font-size: x-large;

}

.article-images a{
    color:cornsilk;
}

.article-images article{
    background-color: brown;
    width:100%;
    height:200px;
    background-image: url('https://cdn.mos.cms.futurecdn.net/Gj4BpxWHmrcvZmjaW9nmwf.jpg');
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items:flex-end;

}

.article-images .galaxy1{
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/andromeda-galaxy-royalty-free-image-1585682435.jpg");
    align-items:center;
    flex-direction: column;
}

.article-images p{
    
    text-align: center;
    margin:10px 10px;
  
}

.article-images article:last-child{
   grid-column: 2 / -1;
   height:275px;
   margin-top:-75px;
}

.article-images article:first-child{
    height:275px;
 }

 .article-images img{
     width:inherit;
     height:inherit;
 }





 .article-links{
     background-color: rgba(128, 128, 128, 0.199);
    padding:100px 0;
    margin-top:20px;
 }

.article-links p{
    margin:0;
}

.article-links .visual-decimal{
     color:palevioletred;
     font-size: xx-large;
     font-weight: bold;
     margin:0;
     float:left;
     margin:0 20px 0 0;   
 }

 .article-links div{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items:center;
    align-items: center;
    max-width: 75%;
    margin:0 auto;
 }

 .article-links h2{
     grid-column: 1 / -1;
 }
.article-links ul{
    list-style:decimal;
}

 .article-links a{
   max-width:200px;
   max-height: min-content;
   display:flex;
   align-items: center;
 }



 .stories{
     
   max-width: 50%;
   
 }


 .stories div{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
 }

 .stories h2{
    flex:1 1 auto;
    min-width: 100%;
    text-align: center;
 }

 .stories article{
    background-color:indigo;
    min-width:20%;
    min-height:200px;
    flex:1 1 auto;
    margin:10px;
  

 }

 .channels{
background: rgba(128, 128, 128, 0.199);
padding:5% 0;
 }

.channels h2{
margin-left:17%;
margin-bottom:3%;
}

 .channel-links{
    display:flex;
    justify-content: center;
 }

 .channel-links div{
    background-color: cadetblue;
    width:200px;
    height:150px;
    margin:0 15px;
}


.newsletter{
    background-color: darkorchid;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.newsletter form{
    min-width:30%;
}

.newsletter .email-input{
    min-width:80%
}

.newsletter li{
    display:inline-block;
}

footer{
    padding-top:20px;
    margin-top:100px;
    background-color: black;
    color:white;
    text-align: left;
    padding-bottom:20px;
}

.footer-grid{


    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    align-items:center;
    justify-items: center;
   margin:0 auto;
   width:50%;
   max-height:300px;
  
    
}

.footer-grid div{
    min-width:350px;
}

footer a{
    color:darkturquoise;
}

footer ul, li{
    list-style-type: none;
    margin:5px 0;
}

footer .copyright{
    border-top:1px solid white;
    grid-column: 1 / -1;
    grid-row-start: 2;
    text-align: center;
    width:100%;
  
}

.social li{
    display: inline-block;
}



@media screen and (max-width:1024px)
 {
    .stories{
        max-width: 100%;
    }
    .article-images{
        width:99%;
        font-size: 40px;
    }

    .article-links div{
        max-width:none;
        grid-template-columns: none;
      
    }
    .article-links a{
        max-width: 300px;
    }
    .article-links div p, h2{
        font-size:50px;
        margin:32px 0;
       
    }

    .stories div{
        flex-wrap:nowrap;
        flex-direction: column;
        align-items:center;
    }

    .channel-links{
        flex-wrap:nowrap;
        flex-direction: column;
        align-items:center;
       
    }

    .channel-links div{
        margin-bottom:20px;
    }

    .newsletter form{
        min-width:100%;
        margin-left:60px;
    }

    .newsletter input{
        padding:16px 0;
    }

    .newsletter p, h2{
        font-size:50px;
        width:50%;
    }

    footer p, h3, a{
        font-size:50px;
    }

    .footer-grid{
        align-items:unset;
        justify-items: unset;
        width:unset;
        grid-template-columns: repeat(2, 1fr);
      max-height:900px;
      margin-left:25px;
    }
    footer ul{
        grid-row-start: 2;
    }
    footer div{
        grid-column: 1 / -1;
        text-align: left;
        font-size: 70px;
    }
    .footer-grid > *{
        padding:0 10px;
    }

    footer .copyright{
        border-top:2px solid white;
        margin-top:55%;
       
    }

 }

