body{
    margin:0;
    padding:0;
}

nav{
    position: fixed;
    top:0;
    width:100%;
    
}

nav div{
    background-color: blueviolet;
    height:50px;
}

nav h1{
    
    color:black;
    font-weight: bold;
    font-size: x-large;
    margin:10px 0 0 40px;
    float:left;
}

nav ul{
    margin:auto auto auto auto;
    width:max-content;
    padding:15px 0 0 0;

}
nav li{
    display:inline-block;
    margin:0 20px;
}

body section{
    margin:auto;
}



.article-images{
    display:grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap:10px;
    justify-items: center;
    width:75%;
    color:white;
    font-size: x-large;

}

.article-images article{
    background-color: brown;
    width:100%;
    height:200px;
}

.article-images p{
    position:absolute;

}

.article-images article:last-child{
   grid-column: 2 / -1;
   height:275px;
   margin-top:-75px;
}

.article-images article:first-child{
    height:275px;
 }

 .article-images img{
     width:inherit;
     height:inherit;
 }





 .article-links{
     background-color: rgba(128, 128, 128, 0.199);
    padding:100px 0;
    margin-top:20px;
 }

.article-links p{
    margin:0;
}

.article-links .visual-decimal{
     color:palevioletred;
     font-size: xx-large;
     font-weight: bold;
     margin:0;
     float:left;
     margin:0 20px 0 0;   
 }

 .article-links div{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items:center;
    align-items: center;
    max-width: 75%;
    margin:0 auto;
 }

 .article-links h2{
     grid-column: 1 / -1;
 }
.article-links ul{
    list-style:decimal;
}

 .article-links a{
   max-width:200px;
   max-height: min-content;
   display:flex;
   align-items: center;
 }



 .stories{
     
   max-width: 50%;
   
 }


 .stories div{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
 }

 .stories h2{
    flex:1 1 auto;
    min-width: 100%;
    text-align: center;
 }

 .stories article{
    background-color:indigo;
    min-width:20%;
    min-height:200px;
    flex:1 1 auto;
    margin:10px;
  

 }

 .channels{
background: rgba(128, 128, 128, 0.199);
padding:5% 0;
 }

.channels h2{
margin-left:17%;
margin-bottom:3%;
}

 .channel-links{
    display:flex;
    justify-content: center;
 }

 .channel-links div{
    background-color: cadetblue;
    width:200px;
    height:150px;
    margin:0 15px;
}


.newsletter{
    background-color: darkorchid;
    display:flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.newsletter form{
    min-width:30%;
}

.newsletter .email-input{
    min-width:80%
}

.newsletter li{
    display:inline-block;
}


footer{
    padding-top:20px;
    margin-top:100px;
    background-color: black;
    display:grid;
    grid-template-columns: repeat(3,1fr);

    color:white;
}
footer a{
    color:darkturquoise;
}



@media screen and (max-width:1024px)
 {
    .stories{
        max-width: 100%;
    }
    .article-images{
        width:99%;
    }
    .newsletter form{
        min-width:50%;
    }
 }

