body{
    margin:0;
    padding:0;
}

nav{
    position: fixed;
    top:0;
    width:100%;
    
}

nav div{
    background-color: blueviolet;
    height:50px;
}

body section{
    margin:auto;
}



.article-images{
    display:grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap:10px;
    justify-items: center;
    width:75%;

}

.article-images article{
    background-color: brown;
    width:100%;
    height:150px;
}

.article-images article:last-child{
   grid-column: 2 / -1;
   height:225px;
   margin-top:-75px;
}

.article-images article:first-child{
    height:225px;
 }



 .article-links{
     background-color: grey;
    height:100px;
 }

 .article-links li{
    display:inline-block;
 }



 .stories{
     
   max-width: 50%;
   
 }

 @media screen and (max-width:1000px)
 {
    .stories{
        max-width: 100%;
    }
 }

 .stories div{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
 }

 .stories h2{
    flex:1 1 auto;
    min-width: 100%;
    text-align: center;
 }

 .stories article{
    background-color:indigo;
    min-width:20%;
    min-height:200px;
    flex:1 1 auto;
    margin:10px;
  

 }
